.idea/
.ipynb_checkpoints/
poetry.lock
.python-version
.DS_Store
.venv/
bin/
generated/
include/
lib/
pyvenv.cfg
airflow-webserver.pid
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py
logs/
__pycache__/
.DS_Store
.env
README_personal.md
share/
etc/